################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Back-End/.vs/SmartAttendance/FileContentIndex/36b633e8-4c18-4c46-a288-84d288b41d4a.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/573b1dbb-b64d-4fc4-bb13-6e640b73fda0.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/69110001-e5ee-4aa0-8a66-ade93cbbb41c.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/b1ef68f7-134c-45bc-b3f8-2bc6ccf3698c.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/a2b21160-df6c-4b7b-98bf-598a323bc0d0.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/d72a523b-7f7c-4c26-ae6c-6b942d62659a.vsidx
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.csproj.AssemblyReference.cache
/Back-End/SmartAttendance.API/obj/project.nuget.cache
/Back-End/SmartAttendance.API/obj/SmartAttendance.API.csproj.nuget.dgspec.json
/Back-End/SmartAttendance.API/obj/SmartAttendance.API.csproj.nuget.g.props
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.GeneratedMSBuildEditorConfig.editorconfig
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.csproj.AssemblyReference.cache
/Back-End/SmartAttendance.DAL/obj/SmartAttendance.DAL.csproj.nuget.g.props
/Back-End/.vs/SmartAttendance/v17/.suo
/Back-End/.vs/ProjectEvaluation/smartattendance.metadata.v6.1
/Back-End/.vs/ProjectEvaluation/smartattendance.projects.v6.1
/Back-End/.vs/SmartAttendance/FileContentIndex/49d0adc3-8c2f-46b1-8c52-2a276cda87d7.vsidx
/Back-End/.vs/SmartAttendance/DesignTimeBuild/.dtbcache.v2
/Back-End/.vs/SmartAttendance/FileContentIndex/0ee1f738-1999-4c0c-a3c5-3600dad12339.vsidx
*.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/573e03d8-9a8f-4df0-a3e2-89ff94a40fc3.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/a2bbfc0e-02ec-4533-854c-678d85785252.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/b1d00083-93fd-41be-bcc1-410346ccced9.vsidx
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.assets.cache
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.GeneratedMSBuildEditorConfig.editorconfig
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.assets.cache
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.csproj.CoreCompileInputs.cache
/Back-End/.vs/SmartAttendance/v17/.futdcache.v2
/Back-End/SmartAttendance.API/obj/Debug/net7.0/apphost.exe
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.csproj.FileListAbsolute.txt
/Back-End/SmartAttendance.DAL/obj/project.assets.json
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.csproj.FileListAbsolute.txt
/Back-End/SmartAttendance.DAL/obj/project.nuget.cache
/Back-End/SmartAttendance.DAL/obj/SmartAttendance.DAL.csproj.nuget.dgspec.json
/Back-End/SmartAttendance.DAL/bin/Release/net7.0/SmartAttendance.DAL.dll
/Back-End/SmartAttendance.API/obj/Release/net7.0/SmartAttendance.API.csproj.AssemblyReference.cache
/Back-End/SmartAttendance.DAL/obj/Release/net7.0/SmartAttendance.DAL.pdb
/Back-End/SmartAttendance.DAL/obj/Release/net7.0/ref/SmartAttendance.DAL.dll
/Back-End/SmartAttendance.DAL/obj/Release/net7.0/SmartAttendance.DAL.csproj.CoreCompileInputs.cache
/Back-End/SmartAttendance.DAL/obj/Release/net7.0/refint/SmartAttendance.DAL.dll
/Back-End/SmartAttendance.API/obj/Release/net7.0/SmartAttendance.API.csproj.FileListAbsolute.txt
/Back-End/SmartAttendance.API/Properties/PublishProfiles/FolderProfile.pubxml.user
/Back-End/SmartAttendance.DAL/obj/Release/net7.0/SmartAttendance.DAL.dll
/Back-End/SmartAttendance.DAL/bin/Release/net7.0/SmartAttendance.DAL.pdb
