################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back-End/.vs/SmartAttendance/DesignTimeBuild/.dtbcache.v2
/Back-End/.vs/SmartAttendance/v17/.suo
/Back-End/SmartAttendance.API/bin/Debug/net7.0/appsettings.json
/Back-End/SmartAttendance.API/obj/Debug/net7.0/ref/SmartAttendance.API.dll
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.csproj.AssemblyReference.cache
/Back-End/SmartAttendance.API/obj/project.nuget.cache
/Back-End/SmartAttendance.API/obj/SmartAttendance.API.csproj.nuget.dgspec.json
/Back-End/.vs/ProjectEvaluation/smartattendance.metadata.v5.2
/Back-End/.vs/ProjectEvaluation/smartattendance.projects.v5.2
*.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/1b836ba5-28ba-47a4-b57e-d8f6cefddc84.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/22b9701e-5de7-441b-a3af-f5be578d65df.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/1b836ba5-28ba-47a4-b57e-d8f6cefddc84.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/1ea261ed-e585-4cc9-bd15-4a0be679a0f4.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/f4df205d-0e9b-4aef-a786-140dcb87e69e.vsidx
/Back-End/.vs/SmartAttendance/v17/.futdcache.v2
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.DAL.dll
/Back-End/.vs/SmartAttendance/config/applicationhost.config
/Back-End/.vs/SmartAttendance/FileContentIndex/1de437bf-29ec-4829-a94b-66f3b1b15bc9.vsidx
/Back-End/.vs/SmartAttendance/FileContentIndex/b60adc96-8dc6-4a7d-8d4b-8ef69d97e5df.vsidx
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.API.dll
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.API.exe
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.API.pdb
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.DAL.pdb
/Back-End/SmartAttendance.API/obj/Debug/net7.0/apphost.exe
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.pdb
/Back-End/.vs/SmartAttendance/v17/.futdcache.v2
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.API.dll
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.API.exe
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.DAL.dll
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.DAL.pdb
/Back-End/SmartAttendance.API/bin/Debug/net7.0/SmartAttendance.API.pdb
/Back-End/SmartAttendance.API/obj/Debug/net7.0/apphost.exe
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.assets.cache
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.AssemblyInfo.cs
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.csproj.FileListAbsolute.txt
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.dll
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.csproj.CoreCompileInputs.cache
*.cs
/Back-End/SmartAttendance.API/obj/project.assets.json
/Back-End/SmartAttendance.API/obj/SmartAttendance.API.csproj.nuget.g.props
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.genruntimeconfig.cache
/Back-End/SmartAttendance.API/obj/Debug/net7.0/SmartAttendance.API.pdb
/Back-End/SmartAttendance.API/SmartAttendance.API.csproj
/Back-End/SmartAttendance.DAL/bin/Debug/net7.0/SmartAttendance.DAL.dll
/Back-End/SmartAttendance.DAL/bin/Debug/net7.0/SmartAttendance.DAL.pdb
/Back-End/SmartAttendance.DAL/obj/SmartAttendance.DAL.csproj.nuget.g.props
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.assets.cache
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.csproj.CoreCompileInputs.cache
/Back-End/SmartAttendance.DAL/SmartAttendance.DAL.csproj
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.csproj.AssemblyReference.cache
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.genruntimeconfig.cache
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.dll
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.csproj.FileListAbsolute.txt
/Back-End/SmartAttendance.DAL/obj/Debug/net7.0/SmartAttendance.DAL.pdb
/Back-End/SmartAttendance.DAL/obj/SmartAttendance.DAL.csproj.nuget.dgspec.json
/Back-End/SmartAttendance.DAL/obj/project.assets.json
/Back-End/SmartAttendance.DAL/obj/project.nuget.cache
