<span class="new-dept">Add New Department</span>
<div class="custom-container">

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Computer Science" required #dept>
    </mat-form-field>

    <button mat-mini-fab color="primary" (click)="addDepartment(dept.value)" matTooltip="Submit"
        [disabled]="dept.value == '' || dept.value == undefined">
        <span style="font-size: 30px;line-height: 2;">+</span>
    </button>

    <div class="img">
        <img src="../../../../../assets/img/department.jpg">
    </div>
</div>