.cardContent{
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ddd;
    margin: 10px 0px;
    text-align: center;
    font-size: 20px;
    color: red;
}
